.zoomfade {
  opacity: 1;
  transform: translateY(15%);
  transform-origin: bottom;
  filter: blur(100px);
  animation: zoomfade 600ms cubic-bezier(0, 0.72, 0.47, 0.99) forwards;
  /* transition: all 400ms ease-in-out; */
}

@keyframes zoomfade {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translateY(15%);
  }
  50% {
    filter: blur(50px);
    opacity: 0.35;
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0%);
  }
}
